<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
      <div class="header-container">
        <div class="logo-container">
          <%= image_tag("events-pic.png",{:style => "height:45px;width:45px;margin-right:10px;"}) %>
          <h2> Event</h2>
        </div>
             <h3 class="signup-text">Signup</h3>     
    </header>
    <div class="events-container" id="events-container">

        <div class="event-card-container" id="event-card-container">
            <div class="event-header" id="event-header">
                <h4>The roxy Hotel new york</h4>
                <p>New york</p>
            </div>
            <%= image_tag("events-pic.png",{:style => "height:200px;width:200px;margin-right:10px;"}) %>
            <p>Lets group Together</p>
            <p>USD $300</p>
        </div>
            <div class="event-card-container">
            <div>
                <h4>The roxy Hotel new york</h4>
                <p>New york</p>
            </div>
            <%= image_tag("events-pic.png",{:style => "height:200px;width:200px;margin-right:10px;"}) %>
            <p>Lets group Together</p>
            <p>USD $300</p>
        </div>
    </div>
</body>
</html>